@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    background: linear-gradient(50deg,rgb(51, 51, 240), rgb(243, 172, 64));
    height: 100vh;
}

#app{
    background: linear-gradient(50deg,rgb(230, 222, 222), rgb(211, 212, 237));
    width: 500px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
}

#time{
    text-align: center;
    padding: 20px 0;
}

#time #value{
    font-size: 48px;
    font-weight: bolder;
}

.form{
    display: flex;
    justify-content: center;
}

input[type="text"] {
    transition: 200ms;
    padding: 10px;
    /* border: solid 1px #ccc; */
    width: 300px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #d4d2d2;
    border-bottom: 2px solid rgb(27, 27, 27);
}

input[type="text"]:hover {
    transition: 200ms;
    transform: scale(1.02);
}

button, input[type="submit"]{
    transition: 200ms;
    border: none;
    background-color: #003366;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

button, input[type="submit"]:hover{
    cursor: pointer;
    transition: 200ms;
    transform: scale(1.04);
}

#tasks{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
.task{
    display: flex;
    gap: 10px;
    align-items: center;
}
.task .completed{
    display: flex;
    align-items: center;
    gap: 10px;
}

.done{
    display: inline-block;
    padding: 5px;
    background-color: #ccc;
}
